# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\个人文件\JAVACode\爬虫\Fang_Scrapy-master\Fang_Scrapy-master\SpiderLianjia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
